/* These are CSS variables. They allow you to change the theme of the chatbot by replacing the values. Read more about them here: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --tertiary-color: #FFA6DE;
  --message-text: #8D8D8D;
  --message-background: #EDEDED;
  /* --border-input: 3px solid #2B6DEE; */
  /* ? needed */
  --border-radius: 15px;
  /* ? Maybe one of the accent colors instead? */
  /* --placeholder-text-accents: #9E9C9C; */
  /* Todo check the font family. It's Myanmar MN in the design but I don't think it's a Google font. */
  --primary-font-family: "Mulish", sans-serif;
  --secondary-font-family: "Nunito", sans-serif;

}

figure {
  margin: 0;
  padding: 0;
}

body,
input {
  font-size: 1rem;
  line-height: 24px;
  color: var(--secondary-color);
  font-family: var(--primary-font-family);
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.site-header {
  top: 0;
  width: 100%;
  /* width: 90%; */
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* z-index: 1000; */
}

.header-content-wrapper {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1400px;
}

.site-header .logo {
  height: 35px;
  line-height: 0;
}

.site-header h1 {
  /* margin: 50px 0; */
  font-size: 4rem;
  /* padding-bottom: 20px; */
}

.site-header span {
  margin: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 20px;
}

.user-info img {
  width: 35px;
}

.user-info p {
  margin: 0 20px;
}

.chat-container {
  max-width: 500px;
  width: 70%;
  /* padding: 0 20px 20px 20px; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  justify-content: space-between;
  border: var(--borders);
  border-radius: var(--border-radius);
  margin-bottom: 50px;
}

.chatbot-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-grow: 1; */
  /* overflow-y: auto; */
  width: 90%;
  /* border-radius: var(--border-radius); */
}

.chatbot-header {
  background-color: var(--tertiary-color);
  /* margin-left: -20px; */
  /* margin-right: -20px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.open-close-icons {
  display: flex;
  align-items: center;
}

.chatbot-header figure {
  margin: 10px;
  /* width: 100px; */
  width: 16px;
}

.chatbot-header .logo {
  width: 100%;
}

.chatbot-header h2 {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.user-message,
.assistant-message {
  padding: 12px 16px;
  margin-bottom: 8px;
  max-width: 80%;
  word-wrap: break-word;
}

.user-message {
  align-self: flex-end !important;
  background-color: var(--user-block);
  border-radius: var(--border-radius);
  position: relative;

}

.user-message:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 20px;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--user-block) var(--user-block) transparent transparent;
}

.assistant-message {
  align-self: flex-start !important;
  background-color: var(--assistant-block);
  border: var(--borders);
  border-radius: var(--border-radius);
  position: relative;
}

.assistant-message:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 20px;
  bottom: -20px;
  border: 10px solid;
  border-color: black transparent transparent black;
}

.assistant-message:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 21px;
  bottom: -17px;
  border: 10px solid;
  border-color: white transparent transparent white;
}

.message-input-container {
  position: relative;
  /* Match the chat container's width */
  width: 100%;
  background: var(--primary-color);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: start;
  /* z-index: 100; */
  /* margin-top: 20px; */
  /* border: var(--border-input); */
  /* border-radius: var(--border-radius); */
  padding-bottom: 40px;
}

.message-input-container form {
  /* display: flex; */
  /* width: 97%; */
  /* padding: 10px 0; */
  /* border-radius: var(--border-radius); */
}

form {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-radius: var(--border-radius); */
}

textarea {
  width: calc(100% - 40px);
  resize: vertical;
  overflow: auto;
  flex-grow: 1;
  padding: 10px 0 0 10px;
  /* height: 100px; */
  box-sizing: border-box;
  border: none;
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  background-color: var(--message-background);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  color: var(--message-text);
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
  flex: 1;
  margin: 0 2px;
}

.button-group {
  /* align-self: flex-end; */
  background-color: var(--secondary-color);
  border-radius: 0 10px 10px 0;
}

#send-btn {
  width: 40px;
  height: 54px;
  background-color: var(--secondary-color);
  /* border: transparent; */
  border-radius: 0 10px 10px 0;
}

.send-icon {
  width: 20px;
}

/* input[type="submit"] {
  flex-grow: 4;
}

input[type="button"] {
  flex-grow: 1;
  background-color: #f44336;
}

input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}

::placeholder {
  color: var(--placeholder-text-accents);
  font-size: 1.25rem;
  opacity: 1;
}

.typing-indicator-container {
  display: flex;
  justify-content: flex-start;
}

.typing-indicator {
  margin-left: 4px;
  font-size: 1rem;
}

.typing-indicator::after {
  content: "•";
  animation: typing 1.5s infinite step-start;
} */

/* @keyframes typing {

  0%,
  100% {
    content: "•";
  }

  33% {
    content: "••";
  }

  66% {
    content: "•••";
  }
} */

.message-role {
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 4px;
}

.message-role.user {
  align-self: flex-end;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* todo: un x the file name before pushing the code */
  background: url('joanie-simon-2r8BzVYZIeo-unsplash.png'), #f5e4f0;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
}

.main-content-wrapper {
  display: flex;
  flex-direction: row;
  /* Adjust height based on header height */
  height: 75vh;
  /* Allow scrolling within this container */
  overflow: auto;
  align-items: stretch;
  /* justify-content: center; */
  justify-content: flex-end;
  width: 90%;
  max-width: 1400px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: var(--primary-color);
}

.hidden {
  display: none;
}

/* Login Page */

.login-form {
  display: flex;
  flex-direction: row;
  /* Adjust height based on header height */
  /* height: 75vh; */
  /* Allow scrolling within this container */
  overflow: auto;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-end;
  width: 90%;
  max-width: 1400px;
  margin-bottom: 35px;
}

.login-content-wrapper {
  max-width: 500px;
  width: 70%;
  /* padding: 0 20px 20px 20px; */
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: column; */
  /* overflow: hidden; */
  /* overflow-y: auto; */
  box-sizing: border-box;
  justify-content: center;
  border: var(--borders);
  border-radius: var(--border-radius);
  /* margin-bottom: 50px; */
  background-color: var(--tertiary-color);
  padding: 50px 30px;
}

.login-form h2 {
  font-size: 2rem;
}

.login-form p {
  line-height: 2.5;
  font-size: 1.7rem;
  text-align: center;
}

.login-form .subtext {
  font-size: 1rem;
}

.auth-form-content-wrapper {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  /* padding: 0 20px 20px 20px; */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 60%;
}

.form-group label {
  margin-bottom: 10px;
  text-align: center;
}

.form-group input {
  padding: 20px;
  border: transparent;
  border-radius: 50px;
}

.btn {
  width: 60%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  border: transparent;
  border-radius: 50px;
  font-size: 1.5rem;
}

/* Visually hide words associated with icons for accessibility */
.visually-hidden {
  /* Hides the text for the submit button while making it accessible to screen readers */
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}