<!doctype html>
<html lang="en">

<head>
  <title>Login | ChefBoost</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
  <header class="site-header">
    <div class="header-content-wrapper">
      <figure>
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='logo.png' ) }}" alt="" class="logo">
          <span class="visually-hidden">ChefBoost</span>
        </a>
      </figure>
      <h1>Login</h1>
      <div class="user-info">
        <img src="{{ url_for('static', filename='avatar.png' ) }}" alt="" class="user-image">
        <a href="{{ url_for('signup') }}" class="link-underline">Sign up</a>
      </div>
    </div>
  </header>
  <main>
    <div class="login-form">
      <div class="login-content-wrapper">
        <h1>Log into your account</h1>
        <form method="POST" class="auth-form-content-wrapper">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password" required>
          </div>
          <button type="submit" class="btn">Get Started</button>
        </form>
        </p>
      </div>
    </div>
  </main>

</body>

</html>